.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  

  &.progress {
    img {
      width: 40px;
    }
    h1 {
      font-size: 1.4rem;
    }
    p {
      display: none;
    }
  }

  img {
    width: 100px;
    margin-bottom: 20px;
    transition: all .3s ease;
  }
  h1 {
    font-size: 2rem;
    color: var(--light);
    transition: all .4s ease;
  }
  p {
    color: var(--light);
    padding: 10px 0;
  }
}
